.login-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f5f5;
}

.login-card {
  width: 560px;

  background: white;

  padding: 50px;

  border-radius: 16px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.login-button {
    height: 60px;
    border-radius: 18px;
    font-size: 20px;
    font-weight: 700;
}

.logo-image {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto 20px;
}

.logo-icon {
  width: 70px;
  height: 70px;

  margin: 0 auto 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #1f2937;

  border-radius: 18px;

  color: #d97706;

  font-size: 30px;
}

.logo-container {
  text-align: center;

  margin-bottom: 30px;
}

.logo-container h1 {
  font-size: 42px;
  color: #1f2937;
}

.logo-container span {
  color: #d97706;
}

.logo-container p {
  color: #6b7280;
}

.forgot-password {
    color: orange;
}

.forgot-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: 600;
}

.input-group input {
  padding: 18px;

  border: 1px solid #d1d5db;

  border-radius: 8px;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 18px;
}

.input-wrapper input {
    height: 58px;
    width: 100%;
    padding: 16px 50px;
    border-radius: 16px;
}

.eye-button {
    position: absolute;

    right: 15px;
    top: 50%;

    transform: translateY(-50%);

    border: none;
    background: transparent;

    cursor: pointer;

    color: #9ca3af;

    font-size: 18px;
}

.copyright {
    text-align: center;

    margin-top: 30px;

    color: #9ca3af;

    font-size: 14px;
}

.mensagem-erro {
  color: #dc2626;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
}

.mensagem-sucesso {
  color: #16a34a;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
}

.btn-primary {
  width: 100%;

  background: #d97706;

  color: white;

  border: none;

  padding: 14px;

  border-radius: 8px;

  cursor: pointer;

  font-size: 16px;
}